Flask>=2.2
Flask-Login
Flask-WTF
Flask-SQLAlchemy
Flask-Talisman
Flask-Limiter

SQLAlchemy
WTForms
Werkzeug
python-dotenv

PyMySQL
pandas
openpyxl

langchain
langchain-google-genai
google-generativeai
